<a href="https://colab.research.google.com/github/lesarmiento37/coder-proyecto/blob/main/ProyectoCoderhouse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
print("hello world")

hello world

In [12]:
import numpy as np
import pandas as pd
data = pd.read_csv(r"data/loan_data_2007_2014.csv", sep=',' ,encoding='latin-1')
data.head(5)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (19) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

        id  member_id  loan_amnt  ...  inq_fi  total_cu_tl inq_last_12m
0  1077501    1296599       5000  ...     NaN          NaN          NaN
1  1077430    1314167       2500  ...     NaN          NaN          NaN
2  1077175    1313524       2400  ...     NaN          NaN          NaN
3  1076863    1277178      10000  ...     NaN          NaN          NaN
4  1075358    1311748       3000  ...     NaN          NaN          NaN

[5 rows x 74 columns]