<a href="https://colab.research.google.com/github/lesarmiento37/coder-proyecto/blob/main/ProyectoCoderhouse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
print("hello world")

hello world

In [10]:
import numpy as np
import pandas as pd
data = pd.read_csv(r"loan_data_2007_2014.csv", sep=',' ,encoding='latin-1')
data.head(5)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (19) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

        id  member_id  loan_amnt  ...  inq_fi  total_cu_tl inq_last_12m
0  1077501    1296599       5000  ...     NaN          NaN          NaN
1  1077430    1314167       2500  ...     NaN          NaN          NaN
2  1077175    1313524       2400  ...     NaN          NaN          NaN
3  1076863    1277178      10000  ...     NaN          NaN          NaN
4  1075358    1311748       3000  ...     NaN          NaN          NaN

[5 rows x 74 columns]

In [11]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [12]:
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, RepeatedStratifiedKFold, cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_curve, roc_auc_score, confusion_matrix, precision_recall_curve, auc
from sklearn.feature_selection import f_classif
from sklearn.pipeline import Pipeline
from sklearn.base import BaseEstimator, TransformerMixin
from scipy.stats import chi2_contingency

In [13]:
data_columns = data.columns
df_delinq_2yrs = data['delinq_2yrs']
df_loan_status_counts = data['loan_status'].value_counts()
df_loan_status_counts_normalize = data['loan_status'].value_counts(normalize = True)
#Se determina la variable target "loan-status" si esta en status Charged off, Default, Late o Does not meet the credit policy. Status:Charged Off se considera en mora, de lo contrario clasifica como bueno
print(df_loan_status_counts_normalize)

Fully Paid                                             0.484160
Current                                                0.379720
Charged Off                                            0.106176
Late (31-120 days)                                     0.011547
Does not meet the credit policy. Status:Fully Paid     0.006904
In Grace Period                                        0.005633
Does not meet the credit policy. Status:Charged Off    0.002643
Late (16-30 days)                                      0.001913
Default                                                0.001306
Name: loan_status, dtype: float64

In [14]:
#Se borran las columnas que tienen mas del 80% de los datos nulos
data.dropna(thresh = data.shape[0]*0.2, how = 'all', axis = 1, inplace = True)
data_columns = data.columns
print(data.head(10))

        id  member_id  loan_amnt  ...  tot_coll_amt  tot_cur_bal total_rev_hi_lim
0  1077501    1296599       5000  ...           NaN          NaN              NaN
1  1077430    1314167       2500  ...           NaN          NaN              NaN
2  1077175    1313524       2400  ...           NaN          NaN              NaN
3  1076863    1277178      10000  ...           NaN          NaN              NaN
4  1075358    1311748       3000  ...           NaN          NaN              NaN
5  1075269    1311441       5000  ...           NaN          NaN              NaN
6  1069639    1304742       7000  ...           NaN          NaN              NaN
7  1072053    1288686       3000  ...           NaN          NaN              NaN
8  1071795    1306957       5600  ...           NaN          NaN              NaN
9  1071570    1306721       5375  ...           NaN          NaN              NaN

[10 rows x 55 columns]

In [18]:
#Se borran las columnas redundantes
#data.drop(columns = ['id', 'member_id', 'sub_grade', 'emp_title', 'url', 'desc', 'title', 'zip_code', 'next_pymnt_d', 'recoveries', 'collection_recovery_fee','total_rec_prncp', 'total_rec_late_fee'], inplace = True)
print(data.head(10))

   loan_amnt  funded_amnt  ...  tot_cur_bal total_rev_hi_lim
0       5000         5000  ...          NaN              NaN
1       2500         2500  ...          NaN              NaN
2       2400         2400  ...          NaN              NaN
3      10000        10000  ...          NaN              NaN
4       3000         3000  ...          NaN              NaN
5       5000         5000  ...          NaN              NaN
6       7000         7000  ...          NaN              NaN
7       3000         3000  ...          NaN              NaN
8       5600         5600  ...          NaN              NaN
9       5375         5375  ...          NaN              NaN

[10 rows x 42 columns]

In [20]:
#Explorar los valores unicos en la columna loan_status
print(data['loan_status'].value_counts(normalize = True))

Fully Paid                                             0.484160
Current                                                0.379720
Charged Off                                            0.106176
Late (31-120 days)                                     0.011547
Does not meet the credit policy. Status:Fully Paid     0.006904
In Grace Period                                        0.005633
Does not meet the credit policy. Status:Charged Off    0.002643
Late (16-30 days)                                      0.001913
Default                                                0.001306
Name: loan_status, dtype: float64

In [25]:
#Crear una nueva columna basada en el loan_status que será nuestra variable target
data['good_bad'] = np.where(data.loc[:,'loan_status'].isin(['Charged Off', 'Default','Late (31-120 days)','Does not meet the credit policy. Status:Charged Off']),0, 1)
print(data['good_bad'].head(10))
print(data['loan_status'].head(10))

0    1
1    0
2    1
3    1
4    1
5    1
6    1
7    1
8    0
9    0
Name: good_bad, dtype: int64
0     Fully Paid
1    Charged Off
2     Fully Paid
3     Fully Paid
4        Current
5     Fully Paid
6        Current
7     Fully Paid
8    Charged Off
9    Charged Off
Name: loan_status, dtype: object

In [26]:
#Eliminando la columna original de loan_status y reemplazandola por good_bad
data.drop(columns = ['loan_status'], inplace = True)
print(data.head(10))

   loan_amnt  funded_amnt  ...  total_rev_hi_lim good_bad
0       5000         5000  ...               NaN        1
1       2500         2500  ...               NaN        0
2       2400         2400  ...               NaN        1
3      10000        10000  ...               NaN        1
4       3000         3000  ...               NaN        1
5       5000         5000  ...               NaN        1
6       7000         7000  ...               NaN        1
7       3000         3000  ...               NaN        1
8       5600         5600  ...               NaN        0
9       5375         5375  ...               NaN        0

[10 rows x 42 columns]

In [28]:
#Para mantener el modelo se realiza un split de los datos de 80 20 mientras se mantiene la distribución de malos prestamos en el conjunto de prueba en el pre-split dataset
X = data.drop('good_bad', axis = 1)
y = data['good_bad']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42, stratify = y)
#Se realiza una copia de los dataset obtenidos
X_train, X_test = X_train.copy(), X_test.copy()

In [29]:
#Metodos de limpieza de datos
# function to clean up the emp_length column, assign 0 to NANs, and convert to numeric
def emp_length_converter(df, column):
    df[column] = df[column].str.replace('\+ years', '')
    df[column] = df[column].str.replace('< 1 year', str(0))
    df[column] = df[column].str.replace(' years', '')
    df[column] = df[column].str.replace(' year', '')
    df[column] = pd.to_numeric(df[column])
    df[column].fillna(value = 0, inplace = True)

#function to convert date columns to datetime format and
#reate a new column as a difference between today and the respective date

def date_columns(df, column):
    # store current month
    today_date = pd.to_datetime('2020-08-01')
    # convert to datetime format
    df[column] = pd.to_datetime(df[column], format = "%b-%y")
    # calculate the difference in months and add to a new column
    df['mths_since_' + column] = round(pd.to_numeric((today_date - df[column]) / 
							np.timedelta64(1, 'M')))
    # make any resulting -ve values to be equal to the max date
    df['mths_since_' + column] = df['mths_since_' + column].apply(
		lambda x: df['mths_since_' + column].max() if x < 0 else x)
    # drop the original date column
    df.drop(columns = [column], inplace = True)
    
# function to remove 'months' string from the 'term' column and convert it to numeric
def loan_term_converter(df, column):
    df[column] = pd.to_numeric(df[column].str.replace(' months', ''))

In [30]:
#Aplicar metodos al dataset x train
date_columns(X_train, 'earliest_cr_line')
date_columns(X_train, 'issue_d')
date_columns(X_train, 'last_pymnt_d')
date_columns(X_train, 'last_credit_pull_d')
emp_length_converter(X_train, 'emp_length')
loan_term_converter(X_train, 'term')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  after removing the cwd from sys.path.

In [38]:
print(X_train.columns)

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'emp_length', 'home_ownership', 'annual_inc',
       'verification_status', 'pymnt_plan', 'purpose', 'addr_state', 'dti',
       'delinq_2yrs', 'inq_last_6mths', 'mths_since_last_delinq', 'open_acc',
       'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_int', 'last_pymnt_amnt',
       'collections_12_mths_ex_med', 'policy_code', 'application_type',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'total_rev_hi_lim',
       'mths_since_earliest_cr_line', 'mths_since_issue_d',
       'mths_since_last_pymnt_d', 'mths_since_last_credit_pull_d'],
      dtype='object')